section
    margin-top: 2%

select
    border: 1px solid #444

hr 
    width: 66%
    float: left
    background-color: grey
body
    .cuadro
        height: 7%
        width: 100%
        border: solid 1px black
    .datepicker
        border-bottom: none 
    .mapa
        background-color: #79C6E1
        height: 100%    

    .cuadro2
        height: 7%
        width: 100%
        border: solid 1px black
        background-color: #E9EBE8
        font-size: 11px
    .textoFiltro
        display: inline-block
    .alineado 
        display: inline
    .apegado
        margin-left: 10px
    .browser-default
        border: none                
  
	        






